<!-- <h4 style="margin: 20px 582px 1px 480px; border-radius:15px 15px 0px 0px; background-color:#F3ECEA!important; padding: 2px 2px 2px 100px; font-family: 'Source Sans Pro', sans-serif; font-size: 40px;
font-weight: 300; color: #004080;">Sign In</h4>
<div
    style="margin: 0px 582px 10px 480px; border-radius: 0px 0px 15px 15px; background-color:#F3ECEA!important; padding: 10px 15px 10px 10px; color: #004080;">
    <div>
        <form [formGroup]="logIn.LogInFormGroup">
            <div class="row">
                <div style="padding: 1px 12px 1px 20px">
                    <label for="Username">Username</label>
                    <input type="text"  class="form-control">
                    <small *ngIf="logIn.LogInFormGroup.controls['Username'].invalid &&
                    logIn.LogInFormGroup.controls['Username'].touched" class="text-danger">Username Required</small>
                </div>
            </div>
            <div class="row">
                <div style="padding: 1px 12px 1px 20px">
                    <label for="Password">Password</label>
                    <input type="password"  class="form-control">
                    <small *ngIf="logIn.LogInFormGroup.controls['Password'].invalid &&
                    logIn.LogInFormGroup.controls['Password'].touched" class="text-danger">Password Required</small>
                  <div> <input style="margin-top: 10px;" type="checkbox"> Show Password </div> 
                </div>
            </div>
            <div style="padding-left: 10px; text-align: right;"><a class="btn btn-primary" (click)="onLogIn()">LogIn</a>
            </div>
        </form>
    </div>
</div>
 -->

 <h4 style="margin: 20px 582px 1px 480px; border-radius:15px 15px 0px 0px; background-color:#F3ECEA!important; padding: 2px 2px 2px 100px; font-family: 'Source Sans Pro', sans-serif; font-size: 40px;
font-weight: 300; color: #004080;">Sign In</h4>
<div
    style="margin: 0px 582px 10px 480px; border-radius: 0px 0px 15px 15px; background-color:#F3ECEA!important; padding: 10px 15px 10px 10px; color: #004080;">
    <div>
        <article>
            <div class="row">
                <div style="padding: 1px 12px 1px 20px">
                    <label for="Username">Username</label>
                    <input type="text" [(ngModel)]="logIn.Username"  class="form-control">
                </div>
            </div>
            <div class="row">
                <div style="padding: 1px 12px 1px 20px">
                    <label for="Password">Password</label>
                    <input type="password" [(ngModel)]="logIn.Password"  class="form-control">                    
                </div>
            </div>
            <div style="padding-left: 10px; text-align: right;"><a class="btn btn-primary" (click)="onLogIn()">LogIn</a>
            </div>
        </article>
    </div>
</div>


